@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 800px, auto;
  grid-template-rows: 100vh;
  grid-gap: 0;
}

.menu {
  padding-top: 32px;
  background: linear-gradient(135deg, #837DB5 0%, #364176 100%);
}

.list-view {
  background-color: #F5F5FC;
} */